@model IEnumerable<DelmoChickenWebApp.Models.Post>

@{
    ViewBag.Title = "News";
}

<h2>News</h2>

 <div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b>@item.Title</b>
                </div>
                <div class="panel-body">
                    <p>@Html.Raw(item.Content)</p> 
                    <a href="/images/@item.ImagePath" data-lightbox="@item.ImagePath">
                        <img src="/images/@item.ImagePath" style="width:25%" alt="@item.Title" />
                    </a>
                </div>
                <div class="panel-footer"><b>@item.CreatedAt</b></div>
            </div>
        </div>
    }
</div>
