@model DelmoChickenWebApp.Models.Post

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>News</h4>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreatedAt)
                @Html.TextBoxFor(model => model.CreatedAt, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath)
                @Html.TextBoxFor(model => model.ImagePath, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content)
                @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor", placeholder = "Content" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div> 
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">Product Action</div>
            <div class="panel-body">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />
                <a class="btn btn-default btn-sm" href="@Url.Action("Index")">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Go Back
                </a>
            </div>
        </div>

    </div>
    </div>
}